<div class="main-glimmer-app">
  <h1>Welcome to Weather Tracker App, <div id="weatherName">{{currentName}}</div></h1>
  Name: <input id="weatherInput" type="textarea" value={{currentName}} oninput={{action changedName}} >
  <WeatherTracker>
      some weather content 
</WeatherTracker>
  <PlacesVisited/>
</div>

